{% extends 'administrateur/baseA.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <p class="h5">Tout les changements effectués sur les abonnements institutionnels peut entraîner des problèmes pour l'inscription des Mairies et autres</p>
        <p class="h4"><b>Les changements se font en temps réel sur l'application</b></p>
    </div>
    <div class="col-12 table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Nom de l'abonnement</th>
                <th>Durée de l'abonnement</th>
                <th>Prix</th>
                <th>Profil</th>
                <th>Habitants</th>
                <th>Utilisateurs</th>
                <th></th>
                
            </tr>
            {% for abonnement in abonnements %}
            <tr class="idAbo" data-id="{{ abonnement.id }}">
                <td class="text-center"><input type="text" value="{{ abonnement.nom }}" class="form-control form-control-sm nomAbo"></td>
                <td class="text-center">{{ abonnement.duree|date(" %y année %m mois ") }}</td>
                <td class="text-center"><input type="text" class="form-control form-control-sm text-center prixAbo" value="{{ abonnement.prix }}"></td>
                <td class="text-center"><input type="text" value="{{ abonnement.profil }}" class="form-control form-control-sm text-center profilAbo"></td>
                <td class="text-center">
               Entre {{ abonnement.limiteB }} et {{ abonnement.limiteH }} habitants </td>
                <td class="text-center"><input type="text" class="form-control form-control-sm text-center text-center userAbo" value="{{ abonnement.utlisateur }}"></td>
                <td><a href="{{ path('packSupinsti',{limiteB : abonnement.limiteB,limiteH:abonnement.limiteH,profil:abonnement.profil}) }}" class="btn btn-outline-success">Packs utlisateurs</a></td>
            </tr>
                {% endfor %}

        </table>
        <table class="table-bordered table mt-4">
            <tr>
                <th>Nom de l'abonnement</th>
                <th>Durée de l'abonnement</th>
                <th>Prix</th>
                <th>Profil</th>
                <th>Habitants</th>
                <th>Utilisateurs</th>

            </tr>
            <tr>
                <td class="text-center"><input type="text" value="" class="form-control form-control-sm newNom"></td>
                <td class="text-center"><input type="text" class="form-control form-control-sm text-center newPrice" value=""></td>
                <td class="text-center"><input type="text" value="" class="form-control form-control-sm text-center newProfil"></td>
                <td class="text-center">
                    Entre <input type="text" value="" class="form-control form-control-sm text-center newLimiteB"> et <input
                            type="text" class="form-control form-control-sm text-center newLimiteH" value="">
                </td>
                <td class="text-center"><input type="text" class="form-control form-control-sm text-center text-center newUser" value=""></td>
            </tr>
        </table>
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-success">Valider</button>
    </div>
</div>
{% endblock %}

{% block title %}
Administrateur abonnement institution
{% endblock %}

