<style>
@page  {
    margin: 15px;
}
.diagdrone{
    float: left;
    margin-left: 0.75em;
    margin-top: 1.5em;
    width: 45%;
}
.logo{
    float: left;
    width: 45%;
}
.client{
    float: left;
    width: 45%;
    margin-left: 30em;
    margin-top: 1.5em;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align:center ;
    margin-top: 1em;
}
.abonnement,.inter{
    margin-top: 1em;
    font-size: 1.4em;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
}
.precision{
    font-size: 0.6em;
}
.abo{
    font-size: 1.2em;
}
mark{
    background-color: yellow;
    color: black;
}
.dem,.insti{
    float: left;
    width: 48%;
    text-align: center;
    font-size: 1.2em;

}
.insti{
    margin-left: 2em;
}

.titreDem{
    border-radius: 5%;
    border: 1px solid black;
}
.case{
    border:1px solid black;
    text-align: center;
}
.recap{
    border-collapse: collapse;
}
.tableInter{

    margin-bottom: 1em;
}
.total{
    float: left;
    width: 40%;
    margin-left: 30em;
    margin-top: 6em;
    text-align: center;
}
.titreTotal{
    font-size: 1.2em;
}
footer{

    font-size: 0.6em;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;

}
.petit{
    font-size: 0.6em;
}
</style>

<div class="diagdrone">
    <span>SAS DIAG DRONE</span><br>
    <span>200 rue Michel de Montaigne</span><br>
    <span>84140 AVIGNON</span><br>
    <span class="infoPdf">Numéro de SIREN
	</span>
    <span>
		: 880431580</span><br>
    <span class="infoPdf">Numéro de SIRET:
	</span>
    <span>88043158000013</span><br>
    <span class="infoPdf">Numéro TVA
	</span>
    <span>
		: FR78880431580</span><br>
    <span class="infoPdf">Code NAF / APE</span>
    <span>
		: 6312Z (portails Internet)</span>
</div>
<div class="logo">
    <img src="../public/css/css_site/images/logo-diagdrone.png" alt="" width="493px" height="193px">
</div>
<div class="client">
    <span>{{entreInter.entreprise.formJuridique}} {{entreInter.entreprise.denomination}}</span><br>
    <span>{{entreInter.entreprise.adresse.numero}} {{entreInter.entreprise.adresse.nomVoie}}</span><br>
    <span>{{entreInter.entreprise.adresse.codePostal}} {{entreInter.entreprise.adresse.ville}}</span><br>

    <span>Numéro de siret : {{entreInter.entreprise.siretTva.siret}}</span><br>
    {% if entreInter.entreprise.siretTva.tva %}
    <span>{{ entreInter.entreprise.siretTva.tva }}</span>
    {% endif %}
</div>
<div class="date">
    <b >Facture du {{ debut|format_datetime('short', 'none', locale='fr') }} au {{ fin|format_datetime('short', 'none', locale='fr') }}</b>
</div>
<div class="abonnement">
    <span >Votre abonnement</span>
</div>
<table>
    <tr>
        <th></th>
        <th>Prix HT</th>
        <th>Prix TTC</th>
    </tr>
    <tr>
        <td>
            <span class="abo">{{ entreInter.abonnement.abonnement.nom }}</span><br>
            <span class="precision">(OTD max: {{ entreInter.abonnement.abonnement.otdMax }}, OTD suplémentaire : {{entreInter.abonnement.abonnement.otdSup  }} €, nombre d'OTD {{ entreInter.entreprise.salaries|length }})s</span>
        </td>
        <td>{{ (entreInter.abonnement.abonnement.prix /1.2)|number_format(2) }} €</td>
        <td>{{ (entreInter.abonnement.abonnement.prix)}} €</td>
    </tr>
</table>

<div class="inter">
    <span>Mandat demandé pour le CERFA n°15476*02</span>
</div>

<div class="tableInter">
    <ul>
        <li>Mandats demandés : {{ entreInter.entreprise.mandatCerfas|length }}</li><br>
        <li>Mandats inclus dans l'abonnement : {{ entreInter.abonnement.abonnement.cerfaMax }}</li><br>
        <li>Prix mandat supplémentaire : 35 € TTC ({{ (35/1.2)|number_format(2) }} € HT)</li><br>
        {% if entreInter.entreprise.mandatCerfas|length >entreInter.abonnement.abonnement.cerfaMax %}
            {% set mandat = ((entreInter.abonnement.abonnement.cerfaMax)-entreInter.entreprise.mandatCerfas|length)*35 %}

        {% else %}
            {% set mandat = 0 %}
        {% endif %}
        <li>Prix des mandats : {{ mandat }} € TTC ({{( mandat/1.2)|number_format(2) }} € HT)</li>
    </ul>

</div>



<div class="total">
    <div class="titreTotal">
        Total facture
    </div>
        <table class="totalTotal">
            <tr>
                <th class="case">HT</th>
                <td class="case">{{(( mandat + entreInter.abonnement.abonnement.prix)/1.2)|number_format(2)  }} €</td>
            </tr>
            <tr>
                <th class="case">Total TTC</th>
                <td class="case">{{ mandat + entreInter.abonnement.abonnement.prix }} €</td>
            </tr>
        </table>

</div>

