{% extends "administrateur/baseA.html.twig" %}
{% block title %}
	Valider abonnement
{% endblock %}
{% block body %}
	<section class="wrapper">

		<div class="row mt">
			<div class="col-lg-12">


				<h1>Liste des entreprises inscrites
				</h1>
				<table class="table table-bordered table-striped table-condensed">

					<thead>
						<tr>


							<th >Nom Entreprise</th>
							<th >Representant légal</th>
							<th >Contact</th>
							<th >Coordonées bancaires</th>
							<th >Type d'abonnement</th>

							<th>Taille de l'entreprise</th>

							<th>Total a prélever</th>
							<th></th>

						</tr>
					</thead>
					{% for etat in etats %}
						<tr>
							<td>{{etat.entreprise.formJuridique}}
								{{etat.entreprise.denomination}}</td>

							<td>{{etat.entreprise.dirigeant.prenom}}
								{{etat.entreprise.dirigeant.nom}}
							</td>
							<td>Adresse :
								{{etat.entreprise.adresse.numero}}
								{{etat.entreprise.adresse.nomVoie}}
								{{etat.entreprise.adresse.codePostal}}
								{{etat.entreprise.adresse.ville}}<br>
								Téléphone :
								{{etat.entreprise.telephone.numero}}<br>

								Mail:
								{{etat.entreprise.salaries[0].user.email}}
							</td>
							<td></td>
							<td>{{etat.abonnement.nom}}</td>

							<td>{{etat.entreprise.salaries|length}}
								OTD</td>

							<td>{{etat.montant}}
								€</td>
							<td>
								{% if etat.abonne == false and etat.datefin > date %}
									<a href="{{path('AdminValideAbo',{id:etat.id})}}" class="btn btn-sm btn-outline-primary">Valider l'abonnement</a>

								{% else %}
									{% if  etat.abonne %}


										<a href="{{path('AdminSuspendreAbo',{id:etat.id})}}" class="btn btn-sm btn-outline-warning">Suspendre l'abonnement</a>


									{% endif %}
								{% endif %}
							</td>
						</tr>


					{% endfor %}


				</table>
				<div class="col-sm-12 text-center">{{ knp_pagination_render(etats) }}</div>

			</div>
		</div>
	</section>
{% endblock %}
