{% extends 'administrateur/baseA.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 mt-5">
            <p class="h5">Liste et création des codes ambassadeurs(OTD, Grands compte, institutionnel) DIAG-DRONE </p>
        </div>
        <div class="col-12 mt-5 text-center">
            <button class="btn btn-lg btn-outline-success " data-toggle="modal" data-target="#modalCodePromom">Créer un code ambasssadeur</button>
        </div>
        <div class="col-12 table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Abonnement</th>
                    <th>Profil</th>
                    <th>Commentaire</th>

                </tr>
                {% for ambassadeur in ambassadeurs %}
                    <tr>
                        <td>{{ ambassadeur.datedebut|format_datetime('short','none',locale='fr') }}</td>
                        <td>{{ ambassadeur.datefin|format_datetime('short','none',locale='fr') }}</td>
                        <td>{% if  ambassadeur.abonnementOtd %}
                                {{ ambassadeur.abonnementOtd.nom }}
                                {% else %}
                                {{ ambassadeur.abonnementGci.nom }}
                            {% endif %} <br>Prix : {{ ambassadeur.prix }} € <br>Duree de l'abonnement :{{ ambassadeur.dureeAbo|date("%m") }} mois</td>
                        <td>{{ ambassadeur.profil }}</td>
                        <td>{{ ambassadeur.commentaire }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="modal fade" id="modalCodePromom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Création d'un code promotionnel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12 mb-5">
                            <p class="h5">Sur quel type de profil va s'appliquer le code promotionnel ?</p>
                        </div>
                        <div class="col-4 text-center"><input type="radio" name="type" id="otd" value="otd"><label for="otd">OTD</label></div>
                        <div class="col-4 text-center"><input type="radio" name="type" id="gc" value="gc"><label for="gc">Grand compte</label></div>
                        <div class="col-4 text-center"><input type="radio" name="type" id="insti" value="insti"><label for="insti">Institution</label></div>
                        <div class="col-6 text-center profilGc  mt-3 mb-3 ">
                            <label for="profilGc">Profil</label>
                            <select name="" id="profilGc" class="form-control grandCompte">
                                <option value=""disabled selected>Choisissez un profil</option>

                                <option value="Notaire">Notaire</option>
                                <option value="Entreprise">Entreprise</option>
                                <option value="Syndicat de copropriété">Syndicat de copropriété</option>
                                <option value="Gestionnaire d'immeuble">Gestionnaire d'immeuble</option>
                                <option value="Agent Immobilier">Agent Immobilier</option>
                                <option value="Compagnie d’assurance, agent général, courtier en assurance">Compagnie d’assurance, agent général, courtier en assurance</option>
                                <option value="Bureau d’étude">Bureau d’étude</option>
                                <option value="Huissier">Huissier</option>
                                <option value="Association de droit privé">Association de droit privé</option>
                            </select>
                        </div>
                        <div class="col-6 text-center profilInsti  mt-3 mb-3 ">
                            <label for="profilInsti">Profil</label>
                            <select name="" id="profilInsti" class="form-control institution">
                                <option value=""disabled selected>Choisissez un profil</option>

                                <option value="200">Jusqu'à 300 habitants</option>
                                <option value="499">Jusqu'à 500 habitants</option>
                                <option value="999">Jusqu'à 1 000 habitant</option>
                                <option value="4999">Jusqu'à 5 000 habitants</option>
                                <option value="9999">Jusqu'à 10 000 habitants</option>
                                <option value="49999">Jusqu'à 50 000 habitants</option>
                                <option value="99999">Jusqu'à 100 000 habitants</option>
                                <option value="499999">Jusqu'à 500 000 habitants</option>
                                <option value="499999999">+ 500 000 habitants</option>
                                <option value="Association de droit privé">Association de droit privé</option>
                                <option value="Communautés religieuses">Communautés religieuses</option>
                                <option value="Établissement public">Établissement public</option>
                                <option value="Société d'Économie Mixte">Société d'Économie Mixte</option>
                                <option value="Société Coopérative d'Intérêt Collectif">Société Coopérative d'Intérêt Collectif</option>
                            </select>
                        </div>

                        <div class="col-6 abonnementOtd mt-3 mb-3">
                            <label for="abpoOtd">Abonnement</label>
                            <select name="" id="abpoOtd" class="form-control abonnement">
                                <option value=""disabled selected>Choisissez un Abonnement</option>

                                {% for abonnement in abonnements %}
                                    <option value="{{ abonnement.id }}">{{ abonnement.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 mt-3 mb-3">
                            <label for="codePromo">Code promotionnel</label>
                            <input type="text" class="form-control" id="codePromo">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="debut">
                                Date début de l'offre
                            </label>
                            <input type="date" name="" id="debut" class="form-control">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="fin">
                                Date fin de l'offre
                            </label>
                            <input type="date" name="" id="fin" class="form-control">
                        </div>
                        <div class="col-5 mb-3">
                            <label for="remise">Nouveau prix de l'abonnement</label>
                            <input type="number" class="form-control" id="prix">

                        </div>

                        <div class="col-3 mb-3">
                            <label for="departement">
                                Quantité par département
                            </label>
                            <input type="number" class="form-control" id="departement">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="duree">Durée imposée de l'abonnement (en mois)</label>
                            <input type="text" class="form-control" id="duree">
                        </div>
                        <div class="col-6">
                            <label for="commentaire">Commentaire (non obligatoire)</label>
                            <textarea name="" id="commentaire" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer et annuler</button>
                    <button type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
Liste ambassadeur
{% endblock %}

