{% extends 'administrateur/baseA.html.twig' %}
{% block title %}Liste Reponse{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="row">
            {% for sujet in sujets %}
               <div class="col-sm-12 bg-gradient-light">
                   <p>{{ sujet.contenu }}</p>
                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reponseForum{{ loop.index }}">
                       Voir les {{ sujet.reonseForums|length }} réponses.
                   </button>
               </div>
                <div class="modal fade" id="reponseForum{{ loop.index }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% for reponse in sujet.reonseForums %}
                                <div class="modal-body border">
                                    {{ reponse.contenu }}
                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button class="btn btn-success" data-reponse="{{ reponse.id }}" data-action="valider">Validate</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-warning" data-reponse="{{ reponse.id }}" data-action="non valide">No validate</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}