{% extends "administrateur/baseA.html.twig" %}

{% block body %}
<section class="wrapper">
    <div class="row mt ">
        <div class="col-lg-6 message">
            <p>Expediteur : {{message.expediteur}}</p>
            <p>Date :{{message.date|format_datetime('short', 'short', locale = 'fr')}}</p>
            <p>Sujet : {{message.sujet}}</p>
            <p>Message:</p>
            <p>{{message.contenu}}</p>
        </div>
        <div class="col-lg-6 reponse">
            {{form_start(form)}}
            {{form_label(form.reponse,'Réponse:',{'label_attr':{'class':'label-control'}})}}
            {{form_row(form.reponse,{'label':' ','attr':{'class':'form-control','rows':'15'}})}}
            <button type="submit" class="btn btn-info btn-round btn-sm">Envoyer</button>
            {{form_end(form)}}</div>
    </div>
</section>
{% endblock body %}