<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8"/>
		<link rel="apple-touch-icon" sizes="76x76" href="./css/css_militaire/css/img/apple-icon.png">
		<link rel="icon" type="image/png" href="/css/css_militaire/css/img/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta
		content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
		<!--     Fonts and icons     -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
		<link
		rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<!-- CSS Files -->
		<link
		href="/css/css_militaire/css/material-dashboard.css?v=2.1.2" rel="stylesheet"/>
		<!-- CSS Just for demo purpose, don't include it in your project -->
		<link href="/css/css_militaire/demo/demo.css" rel="stylesheet"/>
		{{ encore_entry_link_tags('app') }}
	</head>

	<body class="">
		<div class="wrapper ">
			<div
				class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
				<!--
												          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
												
												          Tip 2: you can also add an image using data-image tag
												      -->
				<div class="logo"></div>
				<div class="sidebar-wrapper">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href={{ path('security_logout') }}>
								<buttton class="btn btn-danger">Deconnexion</buttton>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{{ path('accueilMilitaire') }}">
								<i class="material-icons">home</i>
								<p>Accueil</p>
							</a>
						</li>

						<li class="nav-item ">
							<a class="nav-link" href="{{ path('changePass') }}">
								<i class="material-icons">person</i>
								<p>Changer mon mot de passe</p>
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{{ path('carte_inter') }}">
								<i class="material-icons">content_paste</i>
								<p>Carte des interventions</p>
							</a>
						</li>

					</ul>
				</div>
			</div>
			<div
				class="main-panel">
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
					<div class="container-fluid">
						<div class="navbar-wrapper">
							<a class="navbar-brand"> {% block user %}{% endblock %}
								</a>
							</div>
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
								<span class="sr-only">Toggle navigation</span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
								<span class="navbar-toggler-icon icon-bar"></span>
							</button>

						</div>
					</nav>
					<!-- End Navbar -->
					<div class="content">
						<div class="container-fluid"> {% block body %}{% endblock %}

							</div>
						</div>
						<footer class="footer">
							<div class="container-fluid"></div>
						</footer>
					</div>


				</div>
				{{ encore_entry_script_tags('app') }}
				<script src="/js/js_militaire/core/jquery.min.js"></script>
				<script src="/js/js_militaire/core/popper.min.js"></script>
				<script src="/js/js_militaire/core/bootstrap-material-design.min.js"></script>
				<script src="/js/js_militaire/plugins/perfect-scrollbar.jquery.min.js"></script>
				<!-- Plugin for the momentJs  -->
				<script src="/js/js_militaire/plugins/moment.min.js"></script>
				<!--  Plugin for Sweet Alert -->
				<script src="/js/js_militaire/plugins/sweetalert2.js"></script>
				<!-- Forms Validations Plugin -->
				<script src="/js/js_militaire/plugins/jquery.validate.min.js"></script>
				<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
				<script src="/js/js_militaire/plugins/jquery.bootstrap-wizard.js"></script>
				<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
				<script src="/js/js_militaire/plugins/bootstrap-selectpicker.js"></script>
				<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
				<script src="/js/js_militaire/plugins/bootstrap-datetimepicker.min.js"></script>
				<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
				<script src="/js/js_militaire/plugins/jquery.dataTables.min.js"></script>
				<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
				<script src="/js/js_militaire/plugins/bootstrap-tagsinput.js"></script>
				<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
				<script src="/js/js_militaire/plugins/jasny-bootstrap.min.js"></script>
				<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
				<script src="/js/js_militaire/plugins/fullcalendar.min.js"></script>
				<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
				<script src="/js/js_militaire/plugins/jquery-jvectormap.js"></script>
				<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
				<script src="/js/js_militaire/plugins/nouislider.min.js"></script>
				<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
				<!-- Library for adding dinamically elements -->
				<script src="/js/js_militaire/plugins/arrive.min.js"></script>
				<!--  Google Maps Plugin    -->
				<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
				<!-- Chartist JS -->
				<script src="/js/js_militaire/plugins/chartist.min.js"></script>
				<!--  Notifications Plugin    -->
				<script src="/js/js_militaire/plugins/bootstrap-notify.js"></script>
				<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
				<script src="/js/js_militaire/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
				<!-- Material Dashboard DEMO methods, don't include it in your project! -->
				<script src="/js/js_militaire/demo/demo.js"></script>


			</body>

		</html>
