<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation Paiement</title>
</head>

<body>
<input type="hidden" id="data" value="{{ data }}">
<input type="hidden" id="inter" value="{{ idInter }}">
<input type="hidden" value="{{ type }}" id="type">
<input type="hidden" value="{{ uuid }}" id="uuid">


{{ encore_entry_script_tags('app') }}
</body>
</html>