{% extends 'entreprise/baseAE.html.twig' %}

{% block title %}Créer un devis
{% endblock %}
{% block pageAccueil %}
<h3>Créer un devis</h3>{% endblock %}


{% block contenu %}

	<div class="row">



			<div
				class="col-sm-12 feuilleDevis">
				{#Zone logo et titre#}
				<div class="row">
					<div class="col-sm-4 logo">

						{% if entreprise.logo %}
							<img src="/uploads/logo/{{entreprise.logo}}" alt="" width="100px" height="100px">
						{% endif %}

					</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-5 titreDevis" data-toggle="modal" data-target="#modaleTitre">


						<p>Cliquez ici pour ajouter un titre</p>

					</div>
					{# Zone Information entreprise et client#}
					<div class="col-sm-5 infoEntreprise">
						<div>
							{% if entreprise.formJuridique == 'auto-entrepreneur' %}
								{{entreprise.denomination}}
							{% else %}
								{{entreprise.formJuridique}}
								{{entreprise.dirigeant.prenom}}
								{{entreprise.dirigeant.nom}}

							{% endif %}
						</div>
						<div>{{entreprise.adresse.numero}}
							{{entreprise.adresse.nomVoie}}
							{{entreprise.adresse.codePostal}}
							{{entreprise.adresse.ville}}</div>
						<div>Téléphone :
							{{entreprise.telephone.numero}}</div>


						<div>Numéro de SIRET:{{entreprise.siretTva.siret}}</div>

						<div>
							{% if entreprise.siretTva.tva %}

								{{entreprise.siretTva.tva}}

							{% endif %}
						</div>
						<div>{{salarie.user.email}}</div>
					</div>
					<div class="col-sm-2"></div>

					<div class="col-sm-5 infoClient" data-toggle="modal" data-target="#modalClient">


						<p>Cliquer ici pour ajouter un client</p>

					</div>
					<div class="col-sm-12 mt-2 mb-2">
						<p>
							<b>Le
								{{date|format_datetime('full', 'none', locale='fr')}}</b>
						</p>


					</div>

					<div class="col-sm-12">
						<table class="tableDevis">
							<thead>
							<tr>
								<th class="refDevis">Référence</th>
								<th class="designDevis">Désignation</th>
								<th class="quantiteDevis">Quantité</th>
								<th class="prixdevis">PU vente</th>
								<th class="tvaDevis">TVA</th>
								<th class="montantDevis">Montant HT</th>
							</tr>
							</thead>
							<tbody>

							</tbody>

						</table>
						<button data-toggle="modal" data-target="#modaleFacture" class="btn btn-maincolor">Ajouter une ligne</button>
					</div>

					<div class="col-sm-12 bdp">
						<div class="row">
							<div class="col-md-8 col-sm-12 conditionPaiement "data-toggle="modal" data-target="#modalePaimenent">
								<span class="text-dark">Conditions de paiement :</span>
								<ul class="listeCondition">
									<li>100% soit :<span class="prix"></span><span class="type"> Paiement comptant</span></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-12 zonePrix">
								<div class="totalHT text-dark">
									Total hors taxes : <span class="ht"></span> €</div>
								<div class="totalTva text-dark">
									TVA : <span class="tvaDevisF"></span> €</div>
								<div class="totalTtc text-dark">
									Total TTC : <span class="ttc"></span> €</div>
							</div>

						</div>
					</div>
					<div class="col-12 conditionL">
						<p>CLAUSE DE RÉSERVE DE PROPRIÉTÉ : Conformément à la loi 80.335 du 12 mai 1980, nous réservons la propriété des produits et marchandises, objets des présents débits, jusqu'au paiement de l'intégralité du prix et de ses accessoires. En cas de non paiement total ou partiel du prix de l'échéance pour quelque cause que ce soit, de convention expresse, nous nous réservons la faculté, sans formalités, de reprendre matériellement possession de ces produits ou marchandises à vos frais, risques et périls.
							Pénalité de retard : 3 fois le taux d'intérêt légal après date échéance. Escompte pour règlement anticipé : 0% (sauf condition particulière définie dans les conditions de règlement)
							Le montant de l'indemnité forfaitaire pour frais de recouvrement prévue en douzième alinéa de l'article L441-6 est fixé à 40 Euros en matière commerciale.</p>
					</div>
				</div>


			</div>

			<div class="col-sm-12 text-center">
				<br>

				<button class="btn btn-primary btn-lg">Enregister et exporter au format PDF</button>
			</div>


		</div>
	<button type="button" class="btn btn-primary d-none btnmodif" data-toggle="modal" data-target="#moalModif">
		<button type="button" class="btn btn-primary d-none btnmodif" data-toggle="modal" data-target="#modalePaiment">
	</button>
		<div class="modal fade modaleTitre" id="modaleTitre" tabindex="-1" aria-labelledby="modaleTitreLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modaleTitreLabel">Ajouter un titre</h5>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="col-sm-12">

							<p class="h6">Ajouter un titre</p>
							<input type="text" class="titre"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary " data-dismiss="modal">Annuler</button>
						<button type="button" class="btn btn-primary validerTitre" data-dismiss="modal">Valider le titre</button>

					</div>
				</div>
			</div>
		</div>
		<div class="modal fade modaleClient" id="modalClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ajouter un client</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">


							<div class="col-sm-6">
								<p class="h6">Nom</p><input type="text" class="client">
							</div>
							<div class="col-sm-6">
								<p class="h6">Prénom</p><input type="text" class="client">
							</div>
							<div class="col-sm-6">
								<p class="h6">Entreprise</p><input type="text" class="client">
							</div>
							<div class="col-sm-6">
								<label for="siret" class="h6">SIRET</label>
								<input type="number" id="siret" class="client">
							</div>
							<div class="col-sm-6">
								<p class="h6">Adresse</p><input type="text" class="client">
							</div>
							<div class="col-sm-6">
								<p class="h6">Numéro de telephone</p><input type="text" class="client">
							</div>
							<div class="col-sm-6">
								<p class="h6">Email</p><input type="text" class="client">
							</div>


						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary annuler" data-dismiss="modal">Annuler</button>
						<button type="button" class="btn btn-primary sauverClient" data-dismiss="modal">Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modaleFacture" tabindex="-1" aria-labelledby="modalefactureLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalefactureLabel">Ajouter une ligne</h5>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-6">
								<p class="h6">Référence</p><input type="text" class="devis"></div>
							<div class="col-sm-6">
								<p class="h6">Désignation</p><input type="text" class="devis"></div>
							<div class="col-sm-6">
								<p class="h6">Quantité</p><input type="number" class="devis"></div>
							<div class="col-sm-6">
								<p class="h6">Prix unitaire</p><input type="number" class="devis"></div>
							<div class="col-sm-6">
								<p class="h6">Taux de tva</p><input type="number" class="devis"></div>
							<div class="col-sm-6">
								<p class="h6">Montant HT</p><input type="number" class="devis"></div>
						</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary fermerLigne" data-dismiss="modal">Annuler</button>
						<button type="button" class="btn btn-primary enregistrerLigne" data-dismiss="modal">Ajouter</button>

					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="moalModif" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Modifier la ligne</h5>
						<button type="button" class="close modalModifC" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-6">
								<p class="h6">Référence</p><input type="text" class="devisM"></div>
							<div class="col-sm-6">
								<p class="h6">Désignation</p><input type="text" class="devisM"></div>
							<div class="col-sm-6">
								<p class="h6">Quantité</p><input type="number" class="devisM"></div>
							<div class="col-sm-6">
								<p class="h6">Prix unitaire</p><input type="number" class="devisM"></div>
							<div class="col-sm-6">
								<p class="h6">Taux de tva</p><input type="number" class="devisM"></div>
							<div class="col-sm-6">
								<p class="h6">Montant HT</p><input type="number" class="devisM"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btnDelete" style="display:none " >Supprimer la ligne</button>
						<button type="button" class="btn btn-primary validerLigne">Valider</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalePaimenent" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Conditions de paiement</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<label for="paiement">Conditions de paiement</label>
								<select name="" id="conditionP">
									<option value="comptant">comptant</option>
									<option value="acompte">Acompte</option>
									<option value="30 jours">30 jours</option>
								</select>
							</div>
						</div>
						<div class="col-12 acompteDevis">
							<div class="row  mt-5">
								<div class="col-6">
									<label for="poucentage">Pourcentage de l'acompte TTC</label>
									<div class="input-group">
										<input type="text" class="form-control " id="pourcentageAcompte" aria-label="Recipient's username" aria-describedby="basic-addon2" value="100">
										<div class="input-group-append">
											<span class="input-group-text" id="basic-addon2">%</span>
										</div>
									</div>
								</div>
								<div class="col-6">
									<label for="montantTTC">Montant TTC</label>
									<input type="number" name="" id="montantTTCAcompte">
								</div>
								<div class="col-6">
									<label for="poucentage">Pourcentage du paiement comptant TTC</label>
									<div class="input-group">
										<input type="text" class="form-control " id="pourcentagePaiement" aria-label="Recipient's username" aria-describedby="basic-addon2" value="0">
										<div class="input-group-append">
											<span class="input-group-text" id="basic-addon2">%</span>
										</div>
									</div>
								</div>
								<div class="col-6">
									<label for="montantTTCPaiement">Montant TTC</label>
									<input type="number" name="" id="montantTTCPaiement">
								</div>
							</div>
							<input type="hidden" name="">
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<button type="button" class="btn btn-primary validerConditions" data-dismiss="modal">Valider</button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
