{% extends "pdf/basePDF.html.twig" %}
{% block body %}
	<div class="image">
		<img src="../public/css/css_site/images/logo-diagdrone.png" alt="" class="imgPdf">

		{% if entreprise.logo %}
			<img src="../public/uploads/logo/{{ entreprise.logo }}" alt="logo entreprise" class="logoEntreprise">
		{% endif %}
		<h1>Facture</h1>

	</div>


	<div>
		<div class="entreprise fact">
			{% if entreprise.formJuridique =='auto-entrepreneur' %}
				<span class="denominEnseigne">{{entreprise.enseigne}}
					{{entreprise.denomination}}</span><br>
				{% else %}
					<span class="formeJuridique">{{entreprise.formJuridique}}</span><br>
					<span class="denominEnseigne">{{entreprise.enseigne}}
						{{entreprise.denomination}}</span><br>
			{% endif %}

			<p class="intitule intitule-entreprise">Adresse:</p>
			<span>{{reservation.salarie.entreprise.adresse.numero}}
				{{reservation.salarie.entreprise.adresse.nomVoie}}</span><br>
			<span>{{reservation.salarie.entreprise.adresse.codePostal}}
				{{reservation.salarie.entreprise.adresse.ville}}</span>
			<p class="intitule intitule-entreprise">Email:</p>
			<span>{{reservation.salarie.user.email}}</span>

			<p class="intitule intitule-entreprise">Téléphone:</p>
			<span>{{reservation.salarie.entreprise.telephone.numero}}</span>


		</div>

		<div class="demandeur">
			<p class="intitule">Adresse du diagnostic:</p>
			<span class="adresse">{{reservation.intervention.adresse.numero}}
				{{reservation.intervention.adresse.nomVoie}}</span><br>
			<span class="adresse">{{reservation.intervention.adresse.codepostal}}
				{{reservation.intervention.adresse.ville}}</span>
			<p class="intitule">Adresse de facturation:</p>
			<span>{{reservation.intervention.intDem.civilite.type}}
				{{reservation.intervention.intDem.civilite.nom}}
				{{reservation.intervention.intDem.civilite.prenom}}</span><br>
			<span>{{reservation.intervention.intDem.adresse.numero}}
				{{reservation.intervention.intDem.adresse.nomVoie}}</span><br>
			<span>{{reservation.intervention.intDem.adresse.codePostal}}
				{{reservation.intervention.intDem.adresse.ville}}</span>
		</div>

	</div>
	<div class="date">
		<p>Intervention le
			{{reservation.intervention.rdvAt|format_datetime('full', 'none', locale='fr')}}</p>
	</div>


	<table class="prixInter">
		<tr>
			<th class="facture1">Secteur et type d'intervention demandés</th>
			<th class="facture2">Prix</th>
		</tr>
		<tr>
			<td class="facture1">{{reservation.intervention.listeInter.nom}}
				{{reservation.intervention.typeInter.nom}}</td>
			<td class="facture2">
				{% if entreprise.formJuridique =='auto-entrepreneur' %}
					{{(reservation.intervention.prix)|number_format(2)}}
					€
				{% else %}
					{{(reservation.intervention.prix /1.2)|number_format(2)}}€ HT

				{% endif %}
			</td>


		</tr>

		<tr>
			<td class="facture1">Acompte pour intervention</td>

			<td class="facture2">{{reservation.intervention.acommpte|number_format(2)}}€</td>

		</tr>
		<tr>{% if entreprise.siretTva.assujeti == true %}
				<td class="facture1">Total TTC</td>
				{% else %}
					<td class="facture1">Total NET</td>
			{% endif %}

			<td class="facture2">{{(reservation.intervention.prix)|number_format(2)}}€</td>
		</tr>
		{% if entreprise.siretTva.assujeti == true %}
			<tr>
			<td class="facture1">Montant TVA 20%</td>
			<td class="facture2">

			0
		{% else %}
			{{(reservation.intervention.prix - reservation.intervention.prix /1.2)|number_format(2)}}€


			</td>
			</tr>
		{% endif %}
		<tr>
			<td class="facture1">Reste à payer
				<span class="indice">(1)</span>
			</td>
			<td class="facture2">{{reste|number_format(2)}}
				€</td>
		</tr>
	</table>


	<footer id="piedDepage2">
		<p class="versement">1: Vous pouvez effectuer le versement final directement à l'OTD ou faire le paiement sur la plateforme diag-drone.com</p>
		<p class="versement">Pensez à télécharger ou imprimer votre facture.</p>


	</footer>
{% endblock %}
