{% extends "pdf/basePDF.html.twig" %}
{% block body %}
	<div class="image">
		<img src="../public/css/css_site/images/logo-diagdrone.png" alt="" class="imgPdf">


		<h1>Proposition de DIAG-DRONE</h1>

	</div>


	<div>
		<div class="entreprise fact"></div>

		<div class="demandeur">
			<p class="intitule">Adresse du diagnostic:</p>
			<span class="adresse">{{reservation.intervention.adresse.numero}}
				{{reservation.intervention.adresse.nomVoie}}</span><br>
			<span class="adresse">{{reservation.intervention.adresse.codepostal}}
				{{reservation.intervention.adresse.ville}}</span>
			<p class="intitule">Adresse de facturation:</p>
			<span>{{reservation.intervention.intDem.civilite.type}}
				{{reservation.intervention.intDem.civilite.nom}}
				{{reservation.intervention.intDem.civilite.prenom}}</span><br>
			<span>{{reservation.intervention.intDem.adresse.numero}}
				{{reservation.intervention.intDem.adresse.nomVoie}}</span><br>
			<span>{{reservation.intervention.intDem.adresse.codePostal}}
				{{reservation.intervention.intDem.adresse.ville}}</span>
		</div>

	</div>
	<div class="date">
		<p>Intervention le
			{{reservation.intervention.rdvAt|format_datetime('full', 'none', locale='fr')}}</p>
	</div>


	<table class="prixInter">
		<tr>
			<th class="facture1">Secteur et type d'intervention demandés</th>
			<th class="facture2">Prix</th>
		</tr>
		<tr>
			<td class="facture1">{{reservation.intervention.listeInter.nom}}
				{{reservation.intervention.typeInter.nom}}</td>
			<td class="facture2">{{(reservation.intervention.prix /1.2)|number_format(2)}}€ HT</td>
		</tr>
		<tr>
			<td class="facture1">Montant TVA 20%</td>
			<td class="facture2">{{(reservation.intervention.prix - reservation.intervention.prix /1.2)|number_format(2)}}€</td>


		</tr>

		<tr>
			<td class="facture1">Total TTC</td>
			<td class="facture2">{{(reservation.intervention.prix)|number_format(2)}}€</td>

		</tr>

	</table>


	<footer id="piedDepage2">
		<p class="versement">Un acompte de 35% vous est demandé si vous acceptez l'intervention</p>


	</footer>
{% endblock %}
